$color-black: #0B0B0B;
$color-blue-gem: #3D2DA6;
$color-cold-purple: #9E91B7;
$color-midnight-express-1: #021740;
$color-midnight-express-2: #11213F;
$color-plum: #DF99F2;
$color-smalt: #07338C;
$color-snuff: #F2CEF2;
$color-white: #FFFFFF;