$color-black: #0B0B0B;
$color-blue-gem: #3D2DA6;
$color-cold-purple: #9E91B7;
$color-midnight-express-1: #021740;
$color-midnight-express-2: #11213F;
$color-plum: #DF99F2;
$color-smalt: #07338C;
$color-snuff: #F2CEF2;
$color-white: #FFFFFF;
$body-bg-1: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%,rgba(2, 23, 64, 0) 100%);
$body-bg-2: radial-gradient(#11213F 0%, #0B0B0B 39,1%, #021740 94,57%);
$footer-bg-1: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
$footer-bg-2: radial-gradient(#3D2DA6 0%, #021740 30,92%);