* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: $body-bg;
  color: white;
}

.logo {
  &:hover {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    transform: scale(1.2);
  }
}

// %hero {
//   // c
// }
