* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: 'smooth'
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: $body-bg-1;
  color: white;
}

.logo {
  &:hover {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    transform: scale(1.2);
  }
}

p {
  text-align: justify;
}