@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

@font-face {
  font-family: 'beyno';
  src: local('Beyno'), url('../fonts/Beyno.woff') format('woff');
}
@font-face {
  font-family: 'panthera';
  src: url('../fonts/Panthera.woff2') format('woff2'),
       url('../fonts/Panthera.woff') format('woff');
}
@font-face {
  font-family: 'wakanda forever';
  src: url('../fonts/WakandaForever.woff2') format('woff2'),
       url('../fonts/WakandaForever.woff') format('woff');
}