footer {
  padding: 10rem 0;
  font-family: 'Cantarell';
  background: $footer-bg-1;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logos {
      position: relative;
      .branding {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .footer-content {
      .links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .sitemap {
          ul {
            list-style: none;
            li {
              margin-top: 5px;
              a {
                color: $color-white;
                font-size: 20px;
                text-decoration: none;
                text-transform: capitalize;
                &:hover {
                  color: $color-plum;
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        .social-links {
          .icon {
            width: 100%;
            img {
              margin: 0 10px;
              &:hover {
                cursor: pointer;
                transform: scale(1.2);
              }
            }
          }
        }
        h3 {
          font-size: 22px;
          letter-spacing: 5px;
          margin-bottom: 20px;
        }
      }
    }
    .copyright {
      text-align: center;
      p {
        vertical-align: middle;
        .fa {
          color: $color-plum;
          font-size: 10px;
        }
      }
    }
  }
}