@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@font-face {
  font-family: "beyno";
  src: local("Beyno"), url("../fonts/Beyno.woff") format("woff");
}
@font-face {
  font-family: "panthera";
  src: url("../fonts/Panthera.woff2") format("woff2"), url("../fonts/Panthera.woff") format("woff");
}
@font-face {
  font-family: "wakanda forever";
  src: url("../fonts/WakandaForever.woff2") format("woff2"), url("../fonts/WakandaForever.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: "smooth";
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
  color: white;
}

.logo:hover {
  filter: brightness(0.5);
  transform: scale(1.2);
  filter: drop-shadow(0 0 20px red);
}

p {
  text-align: justify;
}

nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "beyno";
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding: 30px;
}
nav ul a:hover {
  transform: scale(1.1);
  color: #DF99F2;
  filter: drop-shadow(0 0 20px red);
}
nav ul a.active {
  text-decoration: underline;
  color: #F2CEF2;
}
nav .hamburger {
  opacity: 0;
}

footer {
  padding: 10rem 0;
  font-family: "Cantarell";
  background: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .container .logos {
  position: relative;
}
footer .container .logos .branding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .container .footer-content .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .container .footer-content .links .sitemap ul {
  list-style: none;
}
footer .container .footer-content .links .sitemap ul li {
  margin-top: 5px;
}
footer .container .footer-content .links .sitemap ul li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .container .footer-content .links .sitemap ul li a:hover {
  color: #DF99F2;
  transform: scale(1.1);
}
footer .container .footer-content .links .social-links .icon {
  width: 100%;
}
footer .container .footer-content .links .social-links .icon img {
  margin: 0 10px;
}
footer .container .footer-content .links .social-links .icon img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer .container .footer-content .links h3 {
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
footer .container .copyright {
  text-align: center;
}
footer .container .copyright p {
  vertical-align: middle;
}
footer .container .copyright p .fa {
  color: #DF99F2;
  font-size: 10px;
}

#hero-index {
  background-image: url(../img/illustrations/Pantherhome1.png);
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#hero-index .content {
  position: absolute;
  top: 40%;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
#hero-index .content h1,
#hero-index .content h3 {
  color: #F2CEF2;
}
#hero-index .content h1 {
  font-family: "panthera";
  font-size: 60px;
}
#hero-index .content h3 {
  font-family: "beyno";
  font-size: 35px;
  font-weight: lighter;
  margin-bottom: 20px;
}
#hero-index .content p {
  font-family: "Cantarell";
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-more {
  font-family: "Cantarell";
  color: #FFFFFF;
  font-size: 19px;
}
.btn-more:hover {
  text-decoration: none;
  color: #DF99F2;
  font-size: 20px;
}

#wrapper-canvas {
  z-index: 1;
  position: absolute;
  background: #0B0B0B;
}

#slider .slider-content {
  background: #021740;
  display: flex;
}
#slider .slider-content .slide {
  display: flex;
}
#slider .slider-content .slide .personage-img {
  width: 295px;
  height: 341px;
}
#slider .slider-content .slide .text {
  width: 400px;
  height: 341px;
  padding: 40px;
}
#slider .slider-content .slide .text .naming {
  font-family: "beyno";
  color: #F2CEF2;
}
#slider .slider-content .slide .text .description {
  margin: 10px 0;
  font-family: "Cantarell";
}
#slider .slider-btn {
  position: relative;
  right: -90%;
  background: #021740;
  color: #FFFFFF;
  padding: 20px;
  font-size: 20px;
  filter: drop-shadow(0 0 20px #0B0B0B);
  border-radius: 50%;
  border: none;
}
#slider .slider-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 20px #FFFFFF);
}

#prince {
  margin-top: 100px;
}
#prince .container {
  display: flex;
  justify-content: space-around;
}
#prince .container .story,
#prince .container .card {
  font-family: "Cantarell";
  width: 40%;
}
#prince .container .story {
  font-size: 12px;
}
#prince .container .story .part h3 {
  font-family: "beyno";
  color: #F2CEF2;
  margin: 25px 0;
}
#prince .container .story .part p {
  margin-bottom: 10px;
}
#prince .container .profile-card {
  margin-top: 200px;
}
#prince .container .card {
  background: #FFFFFF;
  position: relative;
  width: 500px;
  height: 650px;
  border-radius: 20px;
  transition: 0.5s;
}
#prince .container .card .chadwick {
  position: absolute;
  left: 50%;
  top: -200px;
  transform: translateX(-50%);
  width: 374px;
  height: 527px;
  border-radius: 20px;
  cursor: pointer;
}
#prince .container .card .chadwick img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0 0 20px #021740);
}
#prince .container .card .chadwick:hover {
  width: 450px;
  height: 634px;
}
#prince .container .card:hover {
  height: 750px;
}
#prince .container .card .content {
  position: absolute;
  color: #021740;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
#prince .container .card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
}
#prince .container .card .content .details .box-btn button {
  background: #3D2DA6;
  color: #FFFFFF;
  padding: 10px 18px;
  font-family: "Cantarell";
  border: none;
  border-radius: 5px;
  margin: 5px;
}
#prince .container .card .content .details .box-description {
  text-align: justify;
  margin: 0 18px;
}
#prince .container .card .content .details .box-description h4 {
  padding-top: 5px;
}
#prince .container .card .content .details .box-description h4 span {
  font-weight: 600;
}
#prince .container .poster {
  width: 509px;
  height: 435px;
}
#prince .container .poster:hover {
  cursor: pointer;
  width: 692px;
  height: 591px;
}

#contact-form {
  min-height: 100vh;
  padding: 60px 0;
  background-image: url(../img/illustrations/Pantherhome4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-form .form {
  width: 50%;
  margin: calc(100vh - 50%) auto;
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  background: #F2CEF2;
  color: #021740;
  font-family: "Cantarell";
  width: 60%;
  opacity: 0.5;
  margin: 0 auto;
  border-radius: 150px;
  text-align: center;
}
#contact-form .form h3 {
  font-size: 1rem;
}
#contact-form .form h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#contact-form .form input,
#contact-form .form textarea {
  width: 520px;
  margin-bottom: 0.5rem;
  border-radius: 38px;
}
#contact-form .form input::-moz-placeholder, #contact-form .form textarea::-moz-placeholder {
  padding-top: 20px;
  padding-left: 20px;
}
#contact-form .form input:-ms-input-placeholder, #contact-form .form textarea:-ms-input-placeholder {
  padding-top: 20px;
  padding-left: 20px;
}
#contact-form .form input::placeholder,
#contact-form .form textarea::placeholder {
  padding-top: 20px;
  padding-left: 20px;
}
#contact-form .form input {
  height: 56px;
}
#contact-form .form .form-fields .btn {
  width: 174px;
  height: 54px;
}
#contact-form .form .form-fields .btn:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 20px #021740);
}

@font-face {
  font-family: "beyno";
  src: local("Beyno"), url("../fonts/Beyno.woff") format("woff");
}
@font-face {
  font-family: "panthera";
  src: url("../fonts/Panthera.woff2") format("woff2"), url("../fonts/Panthera.woff") format("woff");
}
@font-face {
  font-family: "wakanda forever";
  src: url("../fonts/WakandaForever.woff2") format("woff2"), url("../fonts/WakandaForever.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: "smooth";
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
  color: white;
}

.logo:hover {
  filter: brightness(0.5);
  transform: scale(1.2);
  filter: drop-shadow(0 0 20px red);
}

p {
  text-align: justify;
}

nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "beyno";
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding: 30px;
}
nav ul a:hover {
  transform: scale(1.1);
  color: #DF99F2;
  filter: drop-shadow(0 0 20px red);
}
nav ul a.active {
  text-decoration: underline;
  color: #F2CEF2;
}
nav .hamburger {
  opacity: 0;
}

footer {
  padding: 10rem 0;
  font-family: "Cantarell";
  background: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .container .logos {
  position: relative;
}
footer .container .logos .branding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .container .footer-content .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .container .footer-content .links .sitemap ul {
  list-style: none;
}
footer .container .footer-content .links .sitemap ul li {
  margin-top: 5px;
}
footer .container .footer-content .links .sitemap ul li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .container .footer-content .links .sitemap ul li a:hover {
  color: #DF99F2;
  transform: scale(1.1);
}
footer .container .footer-content .links .social-links .icon {
  width: 100%;
}
footer .container .footer-content .links .social-links .icon img {
  margin: 0 10px;
}
footer .container .footer-content .links .social-links .icon img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer .container .footer-content .links h3 {
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
footer .container .copyright {
  text-align: center;
}
footer .container .copyright p {
  vertical-align: middle;
}
footer .container .copyright p .fa {
  color: #DF99F2;
  font-size: 10px;
}

#hero-wakanda {
  background-image: url(../img/illustrations_wakanda/Pantherwakanda1.png);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#hero-wakanda .content {
  position: absolute;
  top: 40%;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
#hero-wakanda .content h1,
#hero-wakanda .content h3 {
  color: #F2CEF2;
  font-weight: lighter;
}
#hero-wakanda .content h1 {
  font-family: "beyno";
  font-size: 40px;
}
#hero-wakanda .content h3 {
  font-family: "wakanda forever";
  font-size: 40px;
  margin-bottom: 20px;
}
#hero-wakanda .content p {
  font-family: "Cantarell";
  font-size: 20px;
  margin-bottom: 10px;
}

#biography {
  margin-top: 0;
  margin-bottom: 20px;
}
#biography .container {
  display: flex;
  justify-content: space-around;
}
#biography .container .panther {
  position: absolute;
  z-index: -1;
}
#biography .container .panther img {
  width: 100%;
}
#biography .container .left,
#biography .container .right {
  width: 40%;
  font-family: "Cantarell";
  font-size: 12px;
}
#biography .container .left .part h3,
#biography .container .right .part h3 {
  font-family: "beyno";
  color: #F2CEF2;
  margin: 25px 0;
}
#biography .container .left .part p,
#biography .container .right .part p {
  margin-bottom: 10px;
}
#biography .container .left .part .video,
#biography .container .right .part .video {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 50%;
}
#biography .right .poster {
  text-align: left;
  z-index: -1;
}
#biography .right .poster img {
  width: 649px;
  height: 362px;
}
#biography .right .poster img:hover {
  width: 831px;
  height: 464px;
}

@font-face {
  font-family: "beyno";
  src: local("Beyno"), url("../fonts/Beyno.woff") format("woff");
}
@font-face {
  font-family: "panthera";
  src: url("../fonts/Panthera.woff2") format("woff2"), url("../fonts/Panthera.woff") format("woff");
}
@font-face {
  font-family: "wakanda forever";
  src: url("../fonts/WakandaForever.woff2") format("woff2"), url("../fonts/WakandaForever.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: "smooth";
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
  color: white;
}

.logo:hover {
  filter: brightness(0.5);
  transform: scale(1.2);
  filter: drop-shadow(0 0 20px red);
}

p {
  text-align: justify;
}

nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "beyno";
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding: 30px;
}
nav ul a:hover {
  transform: scale(1.1);
  color: #DF99F2;
  filter: drop-shadow(0 0 20px red);
}
nav ul a.active {
  text-decoration: underline;
  color: #F2CEF2;
}
nav .hamburger {
  opacity: 0;
}

footer {
  padding: 10rem 0;
  font-family: "Cantarell";
  background: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .container .logos {
  position: relative;
}
footer .container .logos .branding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .container .footer-content .links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .container .footer-content .links .sitemap ul {
  list-style: none;
}
footer .container .footer-content .links .sitemap ul li {
  margin-top: 5px;
}
footer .container .footer-content .links .sitemap ul li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
footer .container .footer-content .links .sitemap ul li a:hover {
  color: #DF99F2;
  transform: scale(1.1);
}
footer .container .footer-content .links .social-links .icon {
  width: 100%;
}
footer .container .footer-content .links .social-links .icon img {
  margin: 0 10px;
}
footer .container .footer-content .links .social-links .icon img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer .container .footer-content .links h3 {
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
footer .container .copyright {
  text-align: center;
}
footer .container .copyright p {
  vertical-align: middle;
}
footer .container .copyright p .fa {
  color: #DF99F2;
  font-size: 10px;
}

#hero-enigme {
  background-image: url(../img/illustrations_enigme/Pantherenigme1.png);
  background-position: center left;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#hero-enigme .content {
  text-align: center;
  position: absolute;
  top: 30%;
  right: 20%;
  display: flex;
  flex-direction: column;
  width: 40%;
}
#hero-enigme .content h1 {
  font-family: "beyno";
  color: #F2CEF2;
  font-size: 50px;
  font-weight: lighter;
}
#hero-enigme .content .presentation {
  position: relative;
}
#hero-enigme .content .presentation .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#hero-enigme .content .presentation .text p {
  font-family: "Cantarell";
  font-size: 15px;
  margin-bottom: 10px;
}

.bars {
  position: fixed;
  top: 0;
  left: 100px;
  height: 60vh;
}
.bars .bar {
  position: absolute;
  border-right: 2px solid #F2CEF2;
}
.bars .one {
  height: 100%;
}
.bars .two {
  height: 75%;
  right: 0;
}
.bars .social-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 75%;
  left: 10px;
}
.bars .social-header img {
  margin-top: 10px;
  width: 100%;
}
.bars .social-header img:hover {
  transform: scale(1.2);
  filter: brightness(0.5);
}/*# sourceMappingURL=main.css.map */